# SHARED ENVIROMENTS
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

DATABASE_URL=""

JWT_SECRET=""
JWT_EXPIRATION=""

# API ENVIROMENTS
API_PORT=""

# MAIL
RESEND_API_KEY=""

# BLOB STORAGE
BLOB_READ_WRITE_TOKEN=""

# QUEUE ENVIROMENTS
QUEUE_PORT=""