@import "tailwindcss";

@theme {
  --color-primary: #0296D8;
  --color-primary-light: #39B0E8;
  --color-primary-dark: #0178AD;

  --color-secondary: #36434C;
  --color-secondary-light: #4E5D67;
  --color-secondary-dark: #242E35;

  --color-background: #FFFFFF;
  --color-foreground: #36434C;

  --color-muted: #F1F5F9;
  --color-muted-foreground: #64748B;

  --color-border: #E2E8F0;
}